@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

$font-ubuntu: "Ubuntu", sans-serif;
$font-size: 16px;
$bp-large: 68.75em; //1100px

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px 10px/16px = 62.5

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: $font-ubuntu;
  font-size: $font-size;
  background-color: var(--magnolia);
}

h2 {
  font-size: 36px;
  letter-spacing: 1.1px;
  color: var(--marine-blue);
}
